<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Pierre's Sweet and Savory Treats</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="~/css/styles.css">
</head>

<body>
  @await Html.PartialAsync("Navbar")
  @RenderBody()
  @* @await Html.PartialAsync("Footer") *@
</body>

</html>
