<nav class="navbar navbar-expand-lg sticky-top bg-light">
  <div class="container-fluid">
    @Html.ActionLink("Pierre's Sweet & Savory Treats", "Index", "Home", null, new {@Class="navbar-brand"})
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @if (User.Identity.IsAuthenticated)
        {
          <li class="nav-item nav-link active">Hello @User.Identity.Name! </li>

          @using (Html.BeginForm("LogOff", "Account", "Account"))
          {
            <input type="submit" class="btn btn-primary btn-sm align-self-center" value="Log out" />
          }
        }
        else
        {
          <li class="nav-item">
            @Html.ActionLink("Log in", "Login", "Account", null, new{ @Class= "nav-link active" })
          </li>
          <li class="nav-item">
            @Html.ActionLink("Register", "Register", "Account", null, new{ @Class= "nav-link active" })
          </li>
        }
      </ul>
    </div>
  </div>
</nav>

